.DS_STORE
*.swp
*.rbc
/pkg
/coverage
coverage
/public/uploads
.yardoc
/doc
.rvmrc
development.sqlite3
test.sqlite3
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
node_modules/
/public/packs
/public/packs-test
/public/assets
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage/*
!/storage/.keep
/public/uploads